.skills__item {
    border-radius: 10px;
    box-shadow: .5rem .5rem .5rem #ccc;
    text-decoration: none;
}

.skills__item:hover {
    box-shadow: .5rem .5rem .5rem #555;
    margin: .1rem;
    transition: 150ms ease-in-out;
}

.skills__item--titulo {
    background-color: #ccc;
    border-radius: 10px 10px 0 0;
    line-height: 1.5rem;
    text-align: center;
    width: 100%;
}

.skills__item--html5 {
    background: url(../../img/html5.svg) no-repeat center / cover;
    background-color: var(--gelo);
}

.skills__item--css3 {
    background: url(../../img/css3.svg) no-repeat center / cover;
    background-color: var(--gelo);
}

.skills__item--js {
    background: url(../../img/js.svg) no-repeat center / cover;
    background-color: var(--gelo);
}

.skills__item--vscode {
    background: url(../../img/vscode.svg) no-repeat center / cover;
    background-color: var(--gelo);
}

.skills__item--excel {
    background: url(../../img/excel.svg) no-repeat center / cover;
    background-color: var(--gelo);
}

.skills__item--nfe {
    background: url(../../img/nfe.svg) no-repeat center / cover;
    background-color: var(--gelo);
}

.skills__item--botao {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    justify-content: space-between;
}