.cabecalho__item {
    margin-left: 1rem;   
}

@media screen and (min-width: 0) {
    .cabecalho__item {
        margin-left: 0;
        margin-bottom: .3rem;
    }
}

@media screen and (min-width: 395px) {
    .cabecalho__item {
        margin-left: 1rem;
        margin-bottom: 0;
    }
}