.banner {
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 0) {
    .banner {
        padding: 2rem;
        width: calc(100% - 4rem);
    }
}

@media screen and (min-width: 768px) {
    .banner {
        padding: 2rem 5rem;
        width: calc(100% - 10rem);
        height: calc(50vh - 55px - 4rem);
    }
}