.competencias__lista {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

@media screen and (min-width: 0) {
    .competencias__lista {
        flex-direction: column;
    }
}

@media screen and (min-width: 395px) {
    .competencias__lista {
        flex-direction: initial;
        height: 100%;
    }
}